---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.svelte";
---

<Layout title="Welcome to Astro.">
	<main style="text-align: center;">
		If things work correctly, then
		<h1>
			all the images should look <span class="text-gradient">same</span>
		</h1>
		<Card title="Astro Style Tag Blur">
			<img
				height="200px"
				class="blur2"
				src="https://astro.build/_astro/blog-cover.2f69e680.png"
				alt="astro welcome image"
			/>
		</Card>
		<div>&uarr; &darr;</div>
		<Card title="CSS Asset file Blur">
			<img
				height="200px"
				class="blur"
				src="https://astro.build/_astro/blog-cover.2f69e680.png"
				alt="astro welcome image"
			/>
		</Card>
		<div>&uarr; &darr;</div>
		<Card title="Inline Blur">
			<img
				height="200px"
				style="-webkit-filter: blur(5px);-moz-filter: blur(5px);-o-filter: blur(5px);-ms-filter: blur(5px);filter: blur(5px);"
				src="https://astro.build/_astro/blog-cover.2f69e680.png"
				alt="astro welcome image"
			/>
		</Card>
	</main>
</Layout>

<style>
	.blur2 {
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
